body {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #1e1e2d;
    color: #cfd6f1;

    font-family: monospace;
}

img {
    margin: auto;
}